body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/2017_ktm_1290_super_duke_r_stunt-2560x1600.jpg);
    background-size: cover;
}
.center{
    position: absolute;
    padding-top: 80px;
    padding-right: 220px;
}
ol{
    margin: 5px;
    padding: 10px;
    display: block;
}
ol li{
    list-style: none;
    border: 5px solid #000;
    font-size: 35px;
    font-weight: bold;
    margin: 2px;
    border-radius: 25px;
    font-family: 'Acme', sans-serif;
}
ol li a{
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    text-align: center;
}

ol li:hover a{
    text-shadow: 5px 5px 10px;
    text-decoration: none;
}
